* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0;
  font-weight: normal; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 15px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-1 {
  margin-left: 8.33%; }

.header {
  background-color: #313234;
  height: 50px;
  margin: 0; }

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none; }
nav li {
  display: inline-block; }
nav img {
  padding: 10px 0; }
nav a {
  line-height: 50px;
  display: block;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold; }
  nav a:hover, nav a:active {
    background: #ccc;
    color: #02C4E0; }

section {
  width: 100%;
  margin: 50px 0; }

.hero {
  height: 50vh;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/705164/computer-laptop-work-place-camera-705164.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800");
  background-size: cover;
  background-position: center;
  margin: 0; }

.info, .info h1,
.featured h1 {
  text-align: center; }

.info h1,
.featured h1 h1,
.featured h1 {
  padding: 30px 0 0 0; }

.icon-info i {
  color: white;
  background-color: #313234;
  padding: 15px;
  border-radius: 10%;
  transition: .3s;
  display: table;
  margin: 0 auto; }
  .icon-info i:hover, .icon-info i:active {
    color: white;
    background-color: #02C4E0;
    transform: scale(1.1); }
.icon-info h1:hover, .icon-info h1:active {
  color: #02C4E0; }

.featured h1 {
  font-size: 40px; }

p {
  color: #B1B1B1;
  text-align: center; }

.slogan {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 45px 0 45px 45px;
  top: 25%;
  width: 50%;
  position: absolute;
  right: 0; }

.hero-h1 {
  text-transform: uppercase;
  font-weight: normal; }

h1,
h2 {
  margin: 0;
  text-align: left;
  text-transform: uppercase; }

.gallery-img {
  padding: 0;
  max-height: 300px; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: .5s; }

.item {
  position: relative; }
  .item figure {
    background: black;
    margin: 0; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.item:hover .image,
.item:active .image {
  opacity: 0.3;
  background-color: black; }

.item:hover .middle,
.item:active .middle {
  opacity: 1; }

.links {
  background-color: #fff;
  color: black;
  font-size: 16px;
  margin: 20px;
  padding: 10px;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer; }

.people .col-3 {
  position: relative; }

.people img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: auto; }
.people h1 {
  text-align: center;
  font-size: 18px;
  text-transform: none;
  color: #5C5C5A;
  padding-top: 20px; }

.people-image {
  display: block;
  width: 100%;
  height: auto; }

.people-hover .overlay {
  position: absolute;
  top: 0;
  bottom: 42px;
  left: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(56, 56, 56, 0.8);
  margin: auto; }
  .people-hover .overlay:hover, .people-hover .overlay:active {
    opacity: 1;
    border-radius: 50%; }

.people-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.about {
  min-height: 350px;
  position: relative;
  background: rgba(56, 56, 56, 0.8);
  color: white; }
  .about img {
    max-width: 100%;
    min-height: 250px; }

.parent {
  position: relative;
  min-height: 350px; }

.child {
  position: absolute;
  bottom: -4px; }
  .child div.col-3 {
    padding: 0; }

.about-title {
  padding-left: 15px; }

.number {
  text-align: center;
  font-size: 53px; }

.text-number {
  margin: 0;
  color: #02C4E0;
  text-transform: uppercase; }

.footer {
  background-color: #313234;
  color: white;
  margin: 0;
  padding: 40px 0; }

footer {
  background-color: #252726;
  text-align: center; }
  footer p {
    color: white; }

.footer-title {
  display: inline-block;
  padding-right: 15px;
  position: relative; }
  .footer-title:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 60%;
    left: 100%; }

.footer-text {
  text-align: left;
  color: white; }

.address p {
  text-align: left;
  color: white;
  margin: 0; }
.address .col-3 {
  font-weight: bold;
  padding: 15px 15px 15px 0; }

.social p {
  text-align: left;
  color: white; }

.icon-btn {
  border: 0;
  color: white;
  margin: 10px;
  transition: .3s;
  background-color: #01C8E7;
  width: 40px;
  height: 35px;
  text-align: center;
  padding: 10px; }
  .icon-btn:hover, .icon-btn:active {
    transform: scale(1.1);
    color: white; }

.fa-twitter {
  margin-left: 0; }

@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; }

  .slogan-top {
    position: relative;
    min-height: 40px; }

  .slogan {
    width: 100%;
    top: 170%; }

  .header {
    height: auto; }
    .header nav ul {
      float: none;
      background-color: #313234; }
    .header nav li {
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      padding: 20px; }
    .header nav img {
      width: 100%;
      padding: 0; }

  .child {
    position: static; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; }

  .header {
    height: 120px; }
    .header nav ul {
      margin-right: 50px; }
    .header nav img {
      padding: 45px; }
    .header nav a {
      line-height: 120px;
      font-size: 1.6rem; }

  .parent {
    position: static; }

  .child {
    position: static;
    bottom: auto; }

  .about img {
    width: 100%; } }
@media (max-width: 1200px) {
  [class*="col-"] {
    padding: 12px;
    float: left; }

  [class*="col-offset-"] {
    margin-left: 0; }

  .icon-info h1,
  .people h1,
  .about-title,
  .footer-title,
  .text-number,
  .people-text {
    font-size: 1.8rem; }

  section.info p,
  section.featured p,
  .text,
  .footer-text,
  .address,
  .social p,
  footer p {
    font-size: 1.5rem; }

  .middle {
    width: 100%; }

  .links {
    font-size: 56px; }

  .people img {
    width: 300px;
    height: 300px; }

  .icon-btn {
    width: 60px;
    height: 55px;
    font-size: 2rem; }

  .gallery-img {
    margin: 10px 0; }

  .overlay {
    width: 300px;
    height: 300px;
    bottom: 51px; } }

/*# sourceMappingURL=style.css.map */
